[Desktop Entry]
Type=Application
Name=PadKey Mapper
Comment=Turn your Launchpad into a macro keyboard
Exec=pad-key-mapper
Icon=PKMPPR
Terminal=false
Categories=Utility;AudioVideo
